.index-container { 
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: .5rem;
  grid-row-gap: 1rem;
}

.zubin-pic {
  padding: 0rem 5rem 0rem 5rem;
}

.index-card-wrapper {
  margin-top: .5rem;
}
